<ion-header>
   <ion-toolbar>
    <ion-title>
      IOTA Payment Terminal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid fixed>
    <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md="6" class="ion-text-center">
            <ion-card class="speaker-card">
                <ion-thumbnail class="ion-margin-end">
                  <img src="assets/postbank_logo.png" />
                </ion-thumbnail>
                <ion-card-header>
                  <ion-card-subtitle>
                      <div *ngIf="transactions.length === 0">No active transaction found</div>
                      <div *ngIf="transactions.length > 0">
                          transaction found:<br /><br />
                          <ion-list>
                              <ion-item *ngFor="let transaction of transactions">
                                  <ion-label>{{ transaction.hash }}</ion-label>
                                  <ion-badge *ngIf="!transaction.confirmed" color="warning">{{ transaction.value }}</ion-badge>
                                  <ion-badge *ngIf="transaction.confirmed"color="success">{{ transaction.value }}</ion-badge>
                                  <ion-icon *ngIf="!transaction.confirmed" name="swap"></ion-icon>
                                  <ion-icon *ngIf="transaction.confirmed" name="checkmark-circle-outline"></ion-icon>
                              </ion-item>
                          </ion-list>
                      </div>
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  {{text}}
                </ion-card-content>
            </ion-card>
          </ion-col>        <ion-col size="4" class="ion-text-center">
            <ion-card class="speaker-card">
                <ion-card-content>
                    <img *ngIf="displayQrCode()" [src]="qrImage" />
                </ion-card-content>
              </ion-card>
        </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md="6">
            <ion-card class="speaker-card">
                  <ion-button color="danger" (click)="nextAdress()">Next address</ion-button>
            </ion-card>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-card class="speaker-card">
                <ion-card-header>
                    <ion-card-subtitle>pay with</ion-card-subtitle>
                    <img  src="assets/iota_logo.png" />
                  </ion-card-header>
              </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
