<div *ngIf="nodeinfo" text-center>
  <div class="header">IRI-Node</div>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <div class="boxheader">
          Name
        </div>
        <div class="boxtext">
          {{nodeinfo[0].provider.replace('https://', '').replace(':443', '')}}
        </div>
      </ion-col>
      <ion-col>
        <div class="boxheader">
          Neighbors
        </div>
        <div class="boxtext">
          {{nodeinfo[0].neighbors}}
        </div>
      </ion-col>
      <ion-col>
        <div class="boxheader">
          Tips
        </div>
        <div class="boxtext">
          {{nodeinfo[0].tips}}
        </div>
      </ion-col>
<!--      <ion-col>-->
<!--        <div class="boxheader">-->
<!--          transactions-->
<!--        </div>-->
<!--        <div class="boxtext">-->
<!--          {{nodeinfo[0].transactionsToRequest}}-->
<!--        </div>-->
<!--      </ion-col>-->
    </ion-row>
  </ion-grid>
</div>
