RPi.GPIO==0.6.3
#-e git+https://github.com/lthiery/SPI-Py.git@8cce26b9ee6e69eb041e9d5665944b88688fca68#egg=spi-pi
#-e git+https://github.com/rm-hull/luma.oled#egg=luma-oled
PyOTA==2.0.6
pyqrcode
Pillow