.human-icon {
  fill: grey;
  font-size: 60px;
  padding: 0;
}

.h2m-transition-icon {
  fill: grey;
  font-size: 60px;
  animation-iteration-count: 20
}

.coffee-machine-icon {
  stroke: grey;
  font-size: 60px;
}

.m2h-transition-icon {
  fill: grey;
  font-size: 60px;
}

.energy-icon {
  fill: grey;
  font-size: 60px;
}
