<!--
<ion-card>
    <ion-card-content>
      <img src="assets/coffee.png"/>
      <ion-card-title>
        Nine Inch Nails Live
      </ion-card-title>
      <p>
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>
</ion-card>
-->

<div text-center>
    <p style="font-size: 12px">
        Bitte wähle ein Produkt an der Kaffeemaschine.
    </p>


    <ion-slides [options]="slideOptions" pager="false" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
        <ion-slide>
            <img src="assets/coffee.png" style="height: 200px" alt="coffee-cup"/> <br />
        </ion-slide>
        <ion-slide>
            <app-marketdata></app-marketdata>
        </ion-slide>
        <ion-slide>
            <app-nodeinfo></app-nodeinfo>
        </ion-slide>
    </ion-slides>


    <ion-button *ngIf="false" color="secondary" (click)="getCoffee()">Kaffee</ion-button>
<!--    <app-nodeinfo></app-nodeinfo>-->
</div>
