<div>
    <ion-grid fixed style="font-size: 20px">
        <ion-row>
            <ion-col>
                <div class="boxheader">
                    <ion-icon class="wallet-icon" src="assets/wallet-icon.svg"></ion-icon>
                </div>
                <div *ngIf="seed2balanceEur || seed2balanceEur === 0" class="boxtext">
                    {{seed2balance | thousandSuff : 2 }}IOTA ({{seed2balanceEur.toFixed(2)}}€)
                </div>
            </ion-col>
            <ion-col>
                <div class="boxheader">
                    <ion-icon class="energy-icon" src="assets/energy-icon.svg"></ion-icon>
                </div>
                <div *ngIf="seed3balanceEur" class="boxtext">
                    {{seed3balance | thousandSuff : 2 }}IOTA ({{seed3balanceEur.toFixed(2)}}€)
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
