.coffee-machine-icon {
  stroke: green;
  font-size: 80px;
}

.wallet-icon {
  fill: green;
  font-size: 80px;
}

.energy-icon {
  fill: green;
  font-size: 80px;
}

.coffee_machine-icon {
  stroke: green;
  font-size: 80px;
}
