<div text-center>
        <ion-grid fixed>
                <ion-row justify-content-center align-items-center style='height: 100%'>
                        <ion-col>
                                <img src="assets/{{productcode}}.png" style="height: 250px" alt="coffee-cup"/> <br />
                          </ion-col>                 
                           <ion-col>
                               <div>
                                    <img *ngIf="displayQrCode()" [height]="250" [width]="250" [src]="qrImage" />
                               </div>
                               <ion-spinner *ngIf="!displayQrCode()" name="dots"></ion-spinner>
                          </ion-col>
                </ion-row>
        </ion-grid>
            
    <div style="font-size: 20px">
            Dein {{product}} kostet {{iotas | thousandSuff : 2 }} IOTA ({{eurs.toLocaleString('de-De', {currencyDisplay: 'symbol'})}} €)
    </div>
<!--    <ion-button *ngIf="true" color="secondary" (click)="router.navigate(['/standby'])">zurück</ion-button>-->
</div>
