<!--
<ion-card>
    <ion-card-content>
      <img src="assets/coffee.png"/>
      <ion-card-title>
        Nine Inch Nails Live
      </ion-card-title>
      <p>
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>
</ion-card>
-->

<div class="ion-text-center">
    <p>
        Bitte wähle ein Produkt. Verwende dazu die Produktwahltasten der Kaffeemaschine.
    </p>

    <img src="assets/background.jpg" style="height: 250px" alt="coffee-cup"/> <br />
<!--    <img src="assets/coffee.png" [height]="130" /> <br />-->
<!--    <app-marketdata></app-marketdata>-->
<!--    <app-nodeinfo></app-nodeinfo>-->
<!--    <ion-button color="secondary" (click)="getCoffee()">Kaffee</ion-button>-->
</div>
